@charset "ISO-8859-1";

body {
    background-image: url("https://th.bing.com/th/id/OIP.vS0hnvg05rmzzKcjoMAafAHaE8?rs=1&pid=ImgDetMain");
    background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}