.container {
    margin-top: 20px;
}

.card {
    margin: 10px;
    flex: 0 1 30%; /* Adjust to ensure proper spacing and wrapping */
    max-width: 30rem; /* Ensure cards don't get too wide */
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.search-bar input {
    max-width: 30rem;
    flex: 1; /* Allow input to take available space */
}
.search-bar button {
    margin-left: 10px; /* Add space between input and button */
}

.card:hover {
    transform: scale(1.05); /* Slight zoom effect */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Subtle shadow for a polished look */
}

.card-img-top {
    transition: transform 0.3s ease;
}

@media (max-width: 767px) {
    .card {
        flex: 0 1 100%; /* Full width for smaller screens */
        max-width: 100%; /* Ensure cards don't exceed screen width */
    }
}

.btn-primary {
    background-color: #0056b3;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #004494;
}


.star i{
	display: inline-block;
}


/* corousel CSS */


.feedback-content {
    padding: 20px;
    font-size: 1.1rem;
    line-height: 1.5;
}

#feedbackCarousel{
	display: flex;
	flex-direction: row;
}
.corousel-inner{
	display: inline-block;
}

.username {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.ratings {
    color: #ffc107;
    margin-bottom: 15px;
}

.feedback-text {
    font-style: italic;
    font-size: 1rem;
}

.feedback-text footer {
    font-size: 0.85rem;
    color: #6c757d;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    padding: 20px;
    border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

@media (max-width: 768px) {
    .feedback-content {
        font-size: 1rem;
    }
}
